.heroes {

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .hero {
    margin: 25px;

    .stats {
      .stat {
        display: flex;
        justify-content: space-between;

        .key, .value, .add {
          width: 33%;
        }
      }
    }

    .buttons {

    }
  }
}
